/*      VARIABLES       */


/*           MIXINS          */

@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin transform($transition...) {
    -moz-transform: $transition;
    -o-transform: $transition;
    -webkit-transform: $transition;
    transform: $transition;
    -ms-transform: $transition;
}

@mixin retina($width, $height) {
    width: $width;
    height: $height;
    background-size: $width $height;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin bg-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin antialiased {
    -webkit-font-smoothing: antialiased;
}


/*      ANIMATIONS       */

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}



/*      GENERAL STYLING     */

html {
    background-color: transparent;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    &.open-modal {
        overflow: hidden;
        .backdrop {
            opacity: 1;
            z-index: 9998;
        }
        .modal {
            transform: translateY(-50%);
        }
    }
    &.video-playing {
        overflow-y: hidden;
        #landing {
            border-bottom: none;
            height: 100vh;
        }
        footer {
            bottom: -100px;
        }
        body {
            border: none;
        }
        #landing .overlay,
        #landing .center,
        #landing a.arrow-down {
            opacity: 0;
        }
        #landing .videoControlButton {
            opacity: 1;
        }
    }
}

body {
    border: 30px solid #fff;
    border-bottom: none;
    &.show-video {
        .video-holder {
            visibility:visible;
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.9);
            transition-delay:0s;
            .video {
                top:0;
                opacity: 1;
                transition-delay:0.5s;
            }
        }
    }
}

html.no-js {}

.container {
    max-width: 1100px;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
}

.mobile {
    display: none;
}

.center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

a {
    text-decoration: none;
}

.video-holder {
    z-index: 9999;
    cursor: pointer;
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;
    background-color: transparent;
    opacity: 0;
    @include transition(opacity 0.5s 0.5s, visibility 0s 1s, background-color 0.5s 0.5s);
    .close-video-holder {
        cursor: pointer;
        position: absolute;
        display: inline-table;
        top: 40px;
        left: 50%;
        z-index: 1;
        width: 247px;
        height: 60px;
        line-height: 47px;
        color: #fff;
        text-align: center;
        font-family: "Abolition-Round";
        font-size: 26px;
        letter-spacing: 2px;
        background: rgba(255, 255, 255, 0.14);
        border: 3px solid #F37938;
        @include transform(translateX(-50%));
        @include transition(background-color 0.2s linear);
        @include antialiased;
        &:hover {
            background-color: rgba(255, 255, 255, 0.34);
        }
    }
    .video {
        display:table-cell;
        vertical-align:middle;
        position:relative;
        top: 100px;
        width:100%;
        opacity: 0;
        @include transition(all 1s ease-in-out);
        transition-delay:0s;
        .video-content {
            position:absolute;
            top:125px;
            left:125px;
            width:calc(100% - 250px);
            height:calc(100% - 250px);
            video {
                backface-visibility: hidden;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                max-height: 70vh;
                display: block;
            }
        }
    }
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: -2;
    @include transition(all 0.2s linear);
}

.modal {
    display: block;
    position: fixed;
    top: 50%;
    transform: translateY(-250%);
    margin: 0 auto;
    width: 50%;
    height: 50%;
    min-height: 500px;
    border: 1px solid #fff;
    border-radius: 5px;
    overflow: visible;
    z-index: 9999;
    @include transition(transform 0.5s linear);
    .close-modal {
        position: absolute;
        top: -25px;
        right: -25px;
        background-image: url(../images/x-close.png);
        @include retina(15px, 14px);
        cursor: pointer;
    }
    .overlay {
        background-image: linear-gradient(-180deg, #0042A6 0%, #002D72 100%);
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.86;
        border-radius: 5px;
    }
    .inner {
        color: #fff;
        font-family: "Proxima Nova";
        padding: 20px 25px;
        position: relative;
        overflow-y: scroll;
        height: 100%;
        &::-webkit-scrollbar-track {
            border-radius: 10;
            background-color: rgba(255, 255, 255, 0.15);
        }
        &::-webkit-scrollbar {
            width: 10px;
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-image: linear-gradient(-180deg, darken(#fff, 5%) 1%, darken(#fff, 20%) 51%, darken(#fff, 5%) 100%);
        }
        span {
            font-size: 24px;
            display: block;
            padding-bottom: 23px;
            border-bottom: 1px solid #fff;
            letter-spacing: 0;
            line-height: 31px;
            margin-bottom: 20px;
        }
        ul {
            padding-left: 15px;
            margin: 0;
            li {
                font-size: 14px;
                letter-spacing: 0;
                line-height: 26px;
            }
        }
    }
}

section {
    background-color: #fff;
    position: relative;
    h2 {
        margin: 0 auto 36px;
        border: 3px solid rgba(0, 0, 0, 0.14);
        width: 100%;
        font-family: 'Abolition-Round';
        font-size: 36px;
        color: #4C4C4C;
        letter-spacing: 2px;
        line-height: 70px;
        height: 80px;
        @include antialiased;
        padding: 0 20px;
    }
    h2+p,
    .sub-title+p {
        font-size: 18px;
        color: #666666;
        letter-spacing: 0;
        line-height: 26px;
        font-family: 'Proxima Nova';
    }
    .bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 89px;
        width: 100%;
        background-image: url(../images/marble.jpg);
        @include bg-cover;
    }
    .top {
        height: 89px;
        width: 100%;
        background-image: url(../images/marble.jpg);
        @include bg-cover;
        position: relative;
        z-index: 1;
    }
    .sub-title {
        position: relative;
        .dots {
            position: absolute;
            right: 110px;
            top: -29px;
            span {
                opacity: 0.38;
                background: #000000;
                height: 2px;
                width: 2px;
                display: block;
                margin: 4px 0;
            }
        }
        h3 {
            background-color: #F37938;
            height: 38px;
            line-height: 34px;
            padding: 0 27px;
            display: inline-block;
            margin: 0;
            font-family: Abolition-Round;
            font-size: 20px;
            color: #FFFFFF;
            letter-spacing: 1.54px;
            @include antialiased;
            position: relative;
            margin-right: 19px;
        }
        hr {
            border-color: #F37938;
            position: absolute;
            width: 100%;
        }
    }
    .subsection-list {
        clear: both;
        margin: 34px auto 20px;
        border-top: 1px solid #c1c1c1;
        border-bottom: 1px solid #c1c1c1;
        padding: 42px 0 24px;
        text-align: center;
        font-size: 0;
        a {
            opacity: 0.5;
            font-family: "Abolition-Round";
            font-size: 27px;
            color: #5B5B5B;
            letter-spacing: 1px;
            margin: 0 15px;
            @include transition(all 0.2s linear);
            padding-bottom: 10px;
            border-bottom: 2px solid transparent;
            position: relative;
            top: 0;
            &:hover {
                opacity: 1;
            }
            &.active {
                opacity: 1;
                border-color: #F37938;
                top: -11px;
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .subsection-block {
        border-radius: 5px;
        position: relative;
        font-family: 'Proxima Nova';
        display: none;
        clear: both;
        &.active {
            display: block;
        }
        .carousel,
        .carousel-inner {
            width: 100%;
            height: 623px;
        }
        .carousel-inner>.item {
            height: 100%;
            width: 100%;
            @include bg-cover;
            background-position: center center;
        }
        .carousel-control {
            width: 70px;
            background: rgba(255, 255, 255, 0.21);
            opacity: 1;
            top: 43px;
            .arrow-left {
                background-image: url(../images/gallery-arrow_left.png);
                @include retina(13px, 20px);
                display: block;
                opacity: 1;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: unset;
                top: 50%;
                transform: translateY(-50%);
                position: relative;
            }
            .arrow-right {
                background-image: url(../images/gallery-arrow_right.png);
                @include retina(13px, 20px);
                display: block;
                opacity: 1;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: unset;
                top: 50%;
                transform: translateY(-50%);
                position: relative;
            }
        }
        .carousel-indicators {
            bottom: 12px;
            font-size: 0;
            li {
                display: inline-block;
                width: 88px;
                height: 3px;
                margin: 5px 2px;
                background-color: #fff;
                border: none;
                border-radius: 0;
                opacity: 0.5;
                @include transition(opacity 0.2s linear);
                &.active {
                    opacity: 1;
                }
            }
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.86;
            background-image: linear-gradient(-180deg, #0042A6 0%, #002D72 100%);
        }
        .top-menu {
            text-align: center;
            border-bottom: 1px solid #d8d8d8;
            border-top: 1px solid #d8d8d8;
            position: absolute;
            font-size: 0;
            top: 0;
            left: 0;
            right: 0;
            background: #fff;
            a {
                height: 42px;
                line-height: 40px;
                border-right: 1px solid #d8d8d8;
                display: inline-block;
                padding: 0 20px;
                font-family: Abolition-Round;
                font-size: 20px;
                color: #5B5B5B;
                letter-spacing: 1px;
                background-color: transparent;
                @include antialiased;
                @include transition(all 0.2s linear);
                &:first-child {
                    border-left: 1px solid #d8d8d8;
                }
                &:hover,
                &.active {
                    color: #F37938;
                }
            }
        }
        .benefits {
            color: #fff;
            text-align: left;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 0;
            height: 0;
            overflow: hidden;
            -webkit-transition-property: height;
            -webkit-transition-duration: .5s;
            -webkit-perspective: 1000px;
            -webkit-transform-style: preserve-3d;
            -moz-transition-property: height;
            -moz-transition-duration: .5s;
            -moz-perspective: 1000px;
            -moz-transform-style: preserve-3d;
            -o-transition-property: height;
            -o-transition-duration: .5s;
            -o-perspective: 1000px;
            -o-transform-style: preserve-3d;
            transition-property: height;
            transition-duration: .5s;
            perspective: 1000px;
            transform-style: preserve-3d;
            &.active {
                height: 100%;
                .inner {
                    -webkit-transform: rotateX(0deg);
                    -moz-transform: rotateX(0deg);
                    -o-transform: rotateX(0deg);
                    transform: rotateX(0deg);
                }
            }
            .inner {
                -webkit-transition-property: all;
                -webkit-transition-duration: .5s;
                -webkit-transform: rotateX(-90deg);
                -webkit-transform-origin: top;
                -moz-transition-property: all;
                -moz-transition-duration: .5s;
                -moz-transform: rotateX(-90deg);
                -moz-transform-origin: top;
                -o-transition-property: all;
                -o-transition-duration: .5s;
                -o-transform: rotateX(-90deg);
                -o-transform-origin: top;
                transition-property: all;
                transition-duration: .5s;
                transform: rotateX(-90deg);
                transform-origin: top;
                padding-top: 100px;
                height: 100%;
                background-image: url(../images/mets-watermark.png);
                background-size: 888px 587px;
                background-repeat: no-repeat;
                background-position: -90px -120px;
            }
        }
        .lefty {
            float: left;
            border-left: 2px solid #fff;
            padding-left: 40px;
            padding-right: 30px;
            display: inline-block;
            width: 50%;
            a.video {
                font-size: 14px;
                letter-spacing: 1.75px;
                line-height: 25px;
                display: block;
                text-transform: uppercase;
                margin-bottom: 15px;
                color: #fff;
                span {
                    height: 46px;
                    width: 46px;
                    background-color: rgba(255, 255, 255, 0.15);
                    border-radius: 46px;
                    background-image: url(../images/play-icon.png);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 10px 12px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 16px;
                }
            }
            h4 {
                font-family: "Abolition-Round";
                font-size: 108px;
                letter-spacing: 1.48px;
                line-height: 91px;
                margin: 0;
                position: relative;
                top: -19px;
                margin-bottom: 20px;
            }
            p {
                font-size: 15px;
                letter-spacing: 0;
                line-height: 21px;
            }
            .dates {
                font-family: "Abolition-Round";
                font-size: 20px;
                color: #FFFFFF;
                letter-spacing: 1px;
                line-height: 21px;
                margin-top: 15px;
                @include antialiased;
                div {
                    display: inline-block;
                    float: left;
                    &:first-child {
                        margin-right: 40px;
                    }
                    span {
                        display: block;
                        font-family: "Proxima Nova";
                        font-size: 14px;
                        color: #FFFFFF;
                        letter-spacing: 0;
                        line-height: 22px;
                        margin-top: 10px;
                    }
                }
            }
        }
        .righty {
            float: left;
            display: inline-block;
            width: 50%;
            &>span {
                font-size: 24px;
                display: block;
                padding-bottom: 23px;
                border-bottom: 1px solid #fff;
                letter-spacing: 0;
                line-height: 31px;
                margin-bottom: 20px;
            }
            &>ul {
                padding-left: 15px;
                margin: 0;
                li {
                    font-size: 14px;
                    letter-spacing: 0;
                    line-height: 26px;
                }
            }
            .accordion {
                width: 100%;
                h3 {
                    background-color: rgba(255, 255, 255, 0.25);
                    height: 57px;
                    line-height: 57px;
                    padding: 0 50px 0 30px;
                    border-left: 2px solid #fff;
                    font-size: 14px;
                    letter-spacing: 1.75px;
                    text-transform: uppercase;
                    margin: 0;
                    margin-bottom: 1px;
                    cursor: pointer;
                    outline: none;
                    position: relative;
                    &.ui-accordion-header-active {
                        margin-bottom: 2px;
                        .ui-accordion-header-icon+span {
                            background-image: url(../images/minus-sign.png);
                            background-size: 16px 2px;
                        }
                    }
                    .ui-accordion-header-icon {
                        display: none;
                        &+span {
                            background-image: url(../images/plus-sign.png);
                            width: 16px;
                            height: 16px;
                            background-size: 16px 16px;
                            display: block;
                            position: absolute;
                            right: 23px;
                            top: 21px;
                            background-repeat: no-repeat;
                            background-position: center center;
                        }
                    }
                }
                div {
                    border-left: 1px solid #fff;
                    padding: 20px 30px;
                    margin-bottom: 1px;
                    max-height: 400px;
                    overflow-x: overlay;
                    &::-webkit-scrollbar-track {
                        border-radius: 10;
                        background-color: rgba(255, 255, 255, 0.15);
                    }
                    &::-webkit-scrollbar {
                        width: 10px;
                        background-color: transparent;
                    }
                    &::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                        background-image: linear-gradient(-180deg, darken(#fff, 5%) 1%, darken(#fff, 20%) 51%, darken(#fff, 5%) 100%);
                    }
                    ul {
                        padding-left: 15px;
                        margin: 0;
                        li {
                            font-size: 14px;
                            letter-spacing: 0;
                            line-height: 26px;
                        }
                    }
                    p {
                        margin: 10px 0;
                        letter-spacing: 0;
                        line-height: 1.4;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    &.packages {
        .lefty {
            float: left;
            clear: both;
            text-align: left;
            margin-top: 0px;
            width: 360px;
            font-family: "Proxima Nova";
        }
        .package {
            h3 {
                margin-bottom: 20px;
                background-image: url(../images/title-banner_amenities.jpg);
                width: 100%;
                font-family: "Proxima Nova";
                text-align: left;
                padding-left: 40px;
                height: 89px;
                line-height: 89px;
                font-family: "Abolition-Round";
                font-size: 36px;
                color: #FFFFFF;
                letter-spacing: 2px;
                @include antialiased;
                @include bg-cover;
            }
            hr {
                border-color: #c1c1c1;
            }
            .amenities-list {
                overflow: visible;
                position: relative;
                padding-top: 10px;
                .clearfix {
                    display: block;
                    width: 100%;
                    float: none;
                }
                & > div {
                    margin: 15px 0;
                    .star {
                        @include retina(58px, 58px);
                        display: inline-block;
                        vertical-align: middle;
                        text-align: center;
                        line-height: 58px;
                        margin-right: 23px;
                        background-image: url(../images/benefits-icon_blue.png);
                    }
                    & > span {
                        vertical-align: middle;
                        display: inline-block;
                        font-size: 14px;
                        color: #5B5B5B;
                        letter-spacing: 0;
                        line-height: 20px;
                    }
                }
            }
        }
        .righty {
            width: 715px;
            float: right;
            position: relative;
            margin-top: 20px;
            .carousel {
                border-radius: 5px;
            }
            .carousel,
            .carousel-inner {
                width: 100%;
                height: 582px;
            }
            .carousel-inner>.item {
                height: 100%;
                width: 100%;
                @include bg-cover;
                border-radius: 5px;
                background-position: center center;
            }
            .carousel-control {
                width: 70px;
                background: rgba(255, 255, 255, 0.21);
                opacity: 1;
                .arrow-left {
                    background-image: url(../images/gallery-arrow_left.png);
                    @include retina(13px, 20px);
                    display: block;
                    opacity: 1;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    bottom: unset;
                    top: 50%;
                    transform: translateY(-50%);
                    position: relative;
                }
                .arrow-right {
                    background-image: url(../images/gallery-arrow_right.png);
                    @include retina(13px, 20px);
                    display: block;
                    opacity: 1;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    bottom: unset;
                    top: 50%;
                    transform: translateY(-50%);
                    position: relative;
                }
            }
            .carousel-indicators {
                bottom: 12px;
                font-size: 0;
                li {
                    display: inline-block;
                    width: 88px;
                    height: 3px;
                    margin: 5px 2px;
                    background-color: #fff;
                    border: none;
                    border-radius: 0;
                    opacity: 0.5;
                    @include transition(opacity 0.2s linear);
                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.divider {
    height: 427px;
    border-top: 7px solid #fff;
    border-bottom: 7px solid #fff;
    width: 100%;
    @include bg-cover;
    background-position: center center;
    position: relative;
    text-align: center;
    color: #fff;
    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(106deg, #0D387A 0%, #191919 92%);
    }
    span {
        font-family: 'Proxima Nova';
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 3.25px;
        font-weight: bold;
        display: block;
        position: relative;
        &:before {
            content: " ";
            width: 50px;
            height: 1px;
            background-color: #fff;
            display: inline-block;
            posiiton: relative;
            margin-right: 14px;
            vertical-align: middle;
        }
        &:after {
            content: " ";
            width: 50px;
            height: 1px;
            background-color: #fff;
            display: inline-block;
            posiiton: relative;
            margin-left: 14px;
            vertical-align: middle;
        }
    }
    p {
        margin: 20px auto 30px;
        max-width: 430px;
        font-family: "Abolition-Round";
        font-size: 40px;
        color: #FFFFFF;
        letter-spacing: 2px;
        line-height: 36px;
        @include antialiased;
    }
    a.deposit-btn {
        width: 447px;
        height: 60px;
        line-height: 50px;
        background-image: linear-gradient(134deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.00) 100%);
        border: 1px solid #fff;
        font-family: "Abolition-Round";
        font-size: 26px;
        color: #FFFFFF;
        letter-spacing: 2px;
        display: block;
        margin: 0 auto;
        @include antialiased;
    }
}

.fancybox-skin {
    background: none !important;
    box-shadow: none !important;
}



/*      INTRO VIDEO         */

.video-controls-box {
    position: fixed;
    z-index: 99999;
    display: none;
    width: 100%;
    height: 51px;
    background-color: transparent;
    top: 0;
}

.video-box-royals-icon {
    position: relative;
    left: 12px;
    top: 0px;
    float: left;
}

.skip-video-button {
    width: 160px;
    height: 40px;
    float: right;
    color: white;
    font-weight: 500;
    padding: 2px 0 10px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.skip-video-button.link {
    position: relative;
    left: -12px;
    top: 0px;
    z-index: 20;
    cursor: pointer;
}



/*      NAV     */

.navbar {
    -webkit-backface-visibility: hidden;
    height: 127px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.26);
    .social {
        float: right;
        display: inline-block;
        margin-top: 24px;
        font-size: 0;
        border-bottom: 1px solid #d3d3d3;
        padding-bottom: 14px;
        position: absolute;
        right: 0;
        z-index: 2;
        a {
            display: inline-block;
            vertical-align: middle;
            margin-left: 15px;
            position: relative;
        }
        .dotcom {
            margin-right: 18px;
            img {
                max-height: 20px;
            }
        }
        .instagram {
            background-image: url(../images/icon-instagram.png);
            @include retina(16px, 16px);
        }
        .twitter {
            background-image: url(../images/icon-twitter.png);
            @include retina(19px, 17px);
            top: -1px;
        }
        .facebook {
            background-image: url(../images/icon-facebook.png);
            @include retina(12px, 19px);
            top: -1px;
        }
    }
}

#topnav {
    height: 127px;
    .request-info {
        position: absolute;
        right: 0;
        text-align: center;
        font-family: "Abolition-Round";
        font-size: 26px;
        color: #F37938;
        letter-spacing: 2px;
        bottom: 23px;
        -webkit-font-smoothing: antialiased;
    }
}

#topnav .navbar-nav {
    height: 127px;
    width: 100%;
    top: 0;
    line-height: 127px;
    position: relative;
    a.logo {
        background-image: url(../images/logo-mets_orange.png);
        background-repeat: no-repeat;
        background-position: center center;
        @include retina(44px,
        65px);
        height: 127px;
        @include transition(background-image 0.8s linear);
    }
    &>li {
        display: inline-block;
        &:last-child a {
            margin-right: 0;
        }
        &.dropdown.open>a {
            color: #F37938;
        }
        &.dropdown {
            position: absolute;
            bottom: -20px;
            height: 70px;
            right: 0;
        }
        .dropdown-menu {
            top: 48px;
            padding: 0;
            background-color: transparent;
            margin: 0;
            left: -65%;
            padding-top: 2px;
            border: none;
            box-shadow: none;
            li {
                &>a {
                    min-width: 243px;
                    text-align: center;
                    font-family: "Abolition-Round";
                    font-size: 20px;
                    color: #5B5B5B;
                    letter-spacing: 1.54px;
                    line-height: 55px;
                    height: 61px;
                    @include antialiased;
                    padding: 0;
                    border: 1px solid #ccc;
                    border: 1px solid rgba(0, 0, 0, .15);
                    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
                    box-shadow: 0 1px 3px rgba(0, 0, 0, .175);
                    background-color: #fff;
                    margin-bottom: 2px;
                    @include transition(color 0.2s linear);
                    &:hover,
                    &.active {
                        color: #F37938;
                    }
                }
            }
            .rep-info {
                height: 124px;
                border: 1px solid #ccc;
                border: 1px solid rgba(0, 0, 0, .15);
                -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
                box-shadow: 0 1px 3px rgba(0, 0, 0, .175);
                background-color: #fff;
                padding: 18px 140px 22px 22px;
                text-align: left;
                font-family: "Proxima Nova";
                background-image: url(../images/triangle_orange.png);
                background-size: 124px 124px;
                background-repeat: no-repeat;
                background-position: top right;
                .rep {
                    font-family: "Abolition-Round";
                    font-size: 30px;
                    color: #5b5b5b;
                    letter-spacing: 2.31px;
                    line-height: 27px;
                    margin-bottom: 15px;
                    span {
                        color: #F37938;
                    }
                }
                .rep-email {
                    white-space: nowrap;
                    line-height: 20px;
                    span {
                        background-image: url(../images/icon-mail.png);
                        @include retina (22px, 20px);
                        display: inline-block;
                        position: relative;
                        top: -2px;
                        margin-right: 12px;
                        vertical-align: middle;
                    }
                    a {
                        font-size: 14px;
                        color: #F37938;
                        letter-spacing: 0;
                        line-height: 20px;
                        display: inline-block;
                    }
                }
                .rep-phone {
                    white-space: nowrap;
                    font-size: 14px;
                    color: #5b5b5b;
                    letter-spacing: 0;
                    line-height: 20px;
                    display: block;
                    margin-top: 5px;
                    span {
                        background-image: url(../images/phone.png);
                        @include retina (22px, 24px);
                        display: inline-block;
                        position: relative;
                        top: -2px;
                        margin-right: 12px;
                        vertical-align: middle;
                    }
                }
                .rep-photo {
                    position: absolute;
                    right: 16px;
                    top: 14px;
                    @include retina(100px, 100px);
                    @include bg-cover;
                    background-position: center center;
                    border: 7px solid #fff;
                    border-radius: 100px;
                }
            }
        }
        &>a {
            font-family: "Proxima Nova";
            font-size: 16px;
            color: #666666;
            letter-spacing: 0;
            margin-right: 50px;
            // border-bottom: 3px solid transparent;
            padding: 0;
            @include transition(all 0.2s linear);
            vertical-align: top;
            line-height: 127px;
            &.email {
                background-image: url(../images/icon-mail.png);
                border-bottom: none;
                background-size: 22px 20px;
                display: inline-block;
                position: relative;
                background-repeat: no-repeat;
                padding-left: 25px;
                line-height: 20px;
                &+.dropdown-menu {
                    left: unset;
                    right: 0;
                }
            }
            &:hover {
                color: #F37938;
            }
            &.active {
                color: #F37938;
                // border-bottom: 3px solid #b9b9b9;
            }
            &.dropdown-toggle {
                span {
                    background-image: url(../images/icon-nav-down-arrow.png);
                    @include retina(14px, 11px);
                    display: inline-block;
                    margin-left: 9px;
                    vertical-align: middle;
                    position: relative;
                    top: -1px;
                }
            }
        }
    }
}




/* menu on hover - with animation */

.dropdown.drop-collapsed .dropdown-menu {
    height: 0 !important;
    z-index: -1;
}

.dropdown .dropdown-menu {
    overflow: hidden;
    @include transition(height 0.65s ease);
}

.navbar-nav>li>.dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-nav>li.open .dropdown-menu {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggle {
    position: absolute;
    padding: 0;
    float: none;
    margin: 0;
    right: 0;
    border-radius: 0;
    background: #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.34);
    height: 53px;
    width: 80px;
    text-align: center;
    background-image: url(../images/hamburger.png);
    background-size: 29px 20px;
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar-toggle.collapsed .close {
    display: none;
}


.navbar-toggle .close {
    display: block;
    background-image: url("../images/icons/nav-close.png");
    width: 34px;
    height: 34px;
    background-size: 34px 34px;
    margin-right: -2px;
    top: -2px;
    position: relative;
    opacity: 1;
}

#mobile-nav .navbar-collapse.collapse {
    display: none;
}

#mobile-nav {
    display: none;
}


/* LANDING */

#landing {
    height: calc(100vh - 157px);
    min-height: 768px;
    margin-top: 97px;
    width: 100%;
    border-bottom: 30px solid #fff;
    text-align: center;
    overflow: hidden;
    font-family: "Abolition-Round";
    color: #fff;
    position: relative;
    // background-image: url(../images/home-bg.jpg);
    // @include bg-cover;
    .center {
        position: absolute;
        left: 0;
        right: 0;
        &>div {
            margin-top: 30px;
        }
    }
    h1 {
        font-size: 120px;
        letter-spacing: 2px;
        @include antialiased;
        display: inline-block;
        padding: 0 37px;
        margin: 0;
        height: 175px;
        line-height: 1.2;
        background-image: linear-gradient(134deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0.00) 100%);
        border: 1px solid #fff;
        position: relative;
        span {
            position: absolute;
            background-image: url(../images/glow.png);
            @include retina(149px, 25px);
            top: -13px;
            left: 117px;
        }
    }
    p {
        max-width: 534px;
        margin: 0 auto;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 26px;
        font-family: "Proxima Nova";
        margin-top: 34px;
        @include antialiased;
    }
    a.arrow-down {
        position: relative;
        display: block;
        background-image: url(../images/ny-home-arrow.png);
        @include retina(59px,
        63px);
        margin: 0 auto;
        animation: bounce 2s infinite;
        -webkit-animation: bounce 2s infinite;
        -moz-animation: bounce 2s infinite;
        -o-animation: bounce 2s infinite;
        margin-top: 35px;
    }
    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(131deg, #F37938 0%, #012D72 60%, #002D72 60%);
        opacity: 0.9;
    }
    img {
        max-width: 240px;
    }
    a.video-btn {
        background-color: rgba(255, 255, 255, 0.14);
        width: 247px;
        height: 60px;
        text-align: center;
        margin: 15px 0 5px;
        display: inline-block;
        line-height: 50px;
        color: #fff;
        font-size: 26px;
        letter-spacing: 2px;
        @include antialiased;
        border: 3px solid #F37938;
        @include transition(background-color 0.2s linear);
        &:hover {
            background-color: rgba(255, 255, 255, 0.34);
        }
        span {
            background-image: url(../images/icon-play.png);
            @include retina(20px,
            20px);
            display: inline-block;
            margin-left: 7px;
            position: relative;
            top: 1px;
        }
    }
    .videoContainer {
        position: relative; //z-index: -1;
        height: 100%;
        margin-top: -1px;
        video {
            position: absolute;
            width: 100%;
            height: auto;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
        }
    }
}


/* PORSCHE SUITES */

#porsche-suites {
    text-align: right;
    padding-bottom: 200px;
    h2 {
        margin-top: 34px;
    }
    h2+p {
        max-width: 534px;
        margin-top: 0px;
        float: right;
        margin-bottom: 30px;
    }
    .container>hr {
        border-color: #5B5B5B;
    }
}

#porsche-suites+.divider {
    background-image: url(../images/divider-3.jpg);
    .overlay {
        opacity: 0.4;
    }
}

/* FIRST DATA CLUB */

#first-data-club {
    text-align: right;
    padding-bottom: 180px;
    h2 {
        margin-top: 72px;
    }
    h2+p {
        max-width: 534px;
        margin-bottom: 30px;
        float: right;
    }
    .container>hr {
        border-color: #5B5B5B;
    }
}


#first-data-club+.divider {
    background-image: url(../images/divider-3.jpg);
    .overlay {
        opacity: 0.4;
    }
}

/* HYUNDAI CLUB */

#hyundai-club {
    text-align: right;
    padding-bottom: 180px;
    h2 {
        margin-top: 72px;
    }
    h2+p {
        max-width: 534px;
        margin-bottom: 30px;
        float: right;
    }
    .container>hr {
        border-color: #5B5B5B;
        clear: both;
    }
}

#hyundai-club+.divider {
    background-image: url(../images/divider-3.jpg);
    .overlay {
        opacity: 0.4;
    }
}

/* DELTA CLUB */

#delta-club {
    text-align: right;
    padding-bottom: 180px;
    h2 {
        margin-top: 72px;
    }
    h2+p {
        max-width: 534px;
        margin-bottom: 30px;
        float: right;
    }
    .container>hr {
        border-color: #5B5B5B;
        clear: both;
    }
}

#delta-club+.divider {
    background-image: url(../images/divider-3.jpg);
    .overlay {
        opacity: 0.4;
    }
}

/* FIELD LEVEL SEATING */

#field-level-seating {
    text-align: right;
    padding-bottom: 180px;
    h2 {
        margin-top: 72px;
    }
    h2+p {
        max-width: 534px;
        margin-bottom: 30px;
        float: right;
    }
    .container>hr {
        border-color: #5B5B5B;
    }
}


#field-level-seating+.divider {
    background-image: url(../images/divider-3.jpg);
    .overlay {
        opacity: 0.4;
    }
}


.end {
    height: 250px;
    border-top: 7px solid #fff;
    width: 100%;
    background: #002D72;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    img {
        max-width: 44px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

footer {
    padding: 10px 0 3px;
    font-size: 12px;
    color: #5B5B5B;
    letter-spacing: 0;
    line-height: 15px;
    text-transform: uppercase;
    font-family: "Proxima Nova";
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    a {
        color: #F37938;
    }
    p:first-child {
        float: left;
    }
    p:last-child {
        float: right;
    }
}



/* MEDIA QUERIES */

@media (max-width: 1200px) {
    .navbar {
        // background: rgba(0, 0, 0, 0.46);
        height: 53px;
        .logo.mobile {
            display: block;
            line-height: 53px;
            position: absolute;
            top: 0;
            left: 24px;
            img {
                max-width: 21px;
            }
        }
    }
    #navbar .navbar-nav,
    #topnav,
    body>.logo {
        display: none;
    }
    #navbar a {
        height: auto;
        width: auto;
        padding: 0;
        border-right: none;
        display: inline-block;
        &:hover {
            background-color: transparent;
        }
        &.active:before {
            content: none;
        }
    }
    .navbar-toggle {
        display: block;
    }
    #mobile-nav {
        margin-top: 53px;
        padding: 0;
        margin-left: 0;
        border-top: none;
        position: fixed;
        width: 100%;
        z-index: 9999;
        text-align: center;
        height: auto;
        max-height: 1000px;
        background: #fff;
        padding-top: 36px;
        a.request-info {
            text-align: center;
            font-family: "Abolition-Round";
            font-size: 26px;
            color: #F37938;
            letter-spacing: 2px;
            -webkit-font-smoothing: antialiased;
        }
    }
    #mobile-nav {
        display: block;
    }
    #mobile-nav li a {
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 16px;
        color: #5B5B5B;
        font-family: "Proxima Nova";
        @include transition(all 0.3s ease-in-out);
        text-decoration: none;
        vertical-align: top;
        position: relative;
        &:before {
            content: " ";
            width: 42px;
            height: 1px;
            background-color: transparent;
            display: inline-block;
            position: absolute;
            margin-left: -55px;
            top: 10px;
            @include transition(all 0.3s ease-in-out);
        }
        &:after {
            content: " ";
            width: 42px;
            height: 1px;
            background-color: transparent;
            display: inline-block;
            position: absolute;
            margin-left: 13px;
            top: 10px;
            @include transition(all 0.3s ease-in-out);
        }
        &:hover,
        &.active,
        &:focus {
            color: #F37938;
            text-decoration: none !important;
        }
        &.active {
            &:before,
            &:after {
                background-color: #f37938;
            }
        }
    }
    #mobile-nav .navbar-nav>li {
        background-color: transparent;
        min-height: 0;
        margin: 14px auto;
        &.active>ul {
            max-height: 1000px;
            padding: 15px 0 7px;
        }
    }
    #mobile-nav .navbar-nav>li>ul {
        list-style: none;
        padding: 0;
        max-height: 0;
        overflow: hidden;
        @include transition(all 0.5s ease-in-out);
        li a {
            font-size: 20px;
            color: #5B5B5B;
            letter-spacing: 1.54px;
            line-height: 30px;
            font-family: 'Abolition-Round';
            @include antialiased;
            @include transition(all 0.3s ease-in-out);
            &:hover,
            &.active,
            &:focus {
                color: #F37938;
                text-decoration: none !important;
            }
        }
    }
    #mobile-nav .rep-info {
        border-top: 1px solid #5b5b5b;
        border-bottom: 1px solid #5b5b5b;
        padding: 23px;
        bottom: 70px;
        width: 100%;
        position: absolute;
        .rep {
            font-family: "Abolition-Round";
            font-size: 30px;
            color: #5b5b5b;
            letter-spacing: 2.31px;
            line-height: 27px;
            margin-bottom: 15px;
            span {
                color: #F37938;
            }
        }
        .rep-email {
            white-space: nowrap;
            span {
                background-image: url(../images/icon-mail.png);
                @include retina (22px,
                20px);
                display: inline-block;
                position: relative;
                top: -2px;
                margin-right: 12px;
                vertical-align: middle;
            }
            a {
                font-size: 14px;
                color: #F37938;
                letter-spacing: 0;
                line-height: 20px;
                display: inline-block;
            }
        }
        .rep-phone {
            white-space: nowrap;
            font-size: 14px;
            color: #5b5b5b;
            letter-spacing: 0;
            line-height: 20px;
            display: inline-block;
            margin-top: 5px;
            span {
                background-image: url(../images/phone.png);
                @include retina (22px,
                24px);
                display: inline-block;
                position: relative;
                top: -2px;
                margin-right: 12px;
                vertical-align: middle;
            }
        }
        .rep-photo {
            @include retina(55px,
            55px);
            @include bg-cover;
            background-position: center center;
            border-radius: 100px;
        }
    }
    #mobile-nav .bottom {
        padding: 18px 0;
        position: absolute;
        bottom: 18px;
        width: 100%;
        a {
            display: inline-block;
            vertical-align: middle;
            margin-right: 15px;
            position: relative;
        }
        .dotcom {
            margin-right: 18px;
            img {
                max-height: 20px;
            }
        }
        .instagram {
            background-image: url(../images/icon-instagram.png);
            @include retina(16px,
            16px);
        }
        .twitter {
            background-image: url(../images/icon-twitter.png);
            @include retina(19px,
            17px);
            top: -1px;
        }
        .facebook {
            background-image: url(../images/icon-facebook.png);
            @include retina(12px,
            19px);
            top: -1px;
        }
    }
    .navbar-collapse.collapse {
        display: none !important;
        max-height: 100%;
        overflow: hidden !important;
    }
    .collapse.in {
        display: block !important;
    }
    .container>.navbar-collapse {
        margin: 0px;
        top: -6px;
        position: relative;
    }
    .navbar-nav {
        float: none!important;
        background-color: transparent;
        margin: 0;
    }
    .navbar-nav li {
        float: none;
    }
    .navbar .inner {
        height: calc(100vh - 53px);
    }
    .container {
        max-width: 100%;
    }
    footer {
        width: calc(100% - 60px);
    }
    section .container {
        padding: 0 40px;
    }
    section .subsection-list a {
        display: inline-block;
    }
    section .subsection-block .lefty h4 {
        font-size: 36px;
        line-height: 30px;
        top: 0;
    }
    section.packages .package h3 {
        br {
            display: none;
        }
    }
    section.packages .lefty {
        width: 100%;
        float: none;
        padding-top: 15px;
        margin-left: 0;
    }
    #hyundai-club .formarea{
        margin-left: 0;
    }
    section.packages .righty {
        width: 100%;
        float: none;
        margin-top: 20px;
    }
    section.packages .package .amenities-list>div {
        display: inline-block;
        float: left;
        width: 50%;
    }
    #porsche-suites .subsection-block .suite-list>div {
        width: 100%;
    }
    #porsche-suites .subsection-block .row .full-width .suite-list>div {
        width: 50%;
    }
    #landing {
        height: calc(100vh - 104px);
        margin-top: 53px;
    }
}

@media (max-width: 920px) {
    #landing h1 {
        height: auto;
        padding: 15px 10px 44px;
        line-height: 0.8;
        width: 456px;
    }
    footer {
        font-size: 10px;
    }
}

@media (max-width: 767px) {
    #landing h1 {
        font-size: 80px;
        width: auto;
    }
    #landing a.video-btn,
    #landing a.deposit-btn {
        display: block;
        width: 247px;
        margin: 10px auto;
    }
    body {
        border: none;
    }
    section h2 {
        font-size: 26px;
        text-align: center;
        line-height: 46px;
        height: 56px;
        padding: 0;
    }
    section h2+p,
    section .sub-title+p {
        max-width: 100% !important;
        float: none !important;
        text-align: center;
        font-size: 14px;
    }
    .divider span:before,
    .divider span:after {
        content: none !important;
    }
    .divider .center {
        padding: 0 20px;
    }
    .divider p {
        font-size: 26px;
        letter-spacing: 1.3px;
        line-height: 25px;
    }
    .divider a.deposit-btn {
        width: 100%;
    }
    section {
        background: none;
    }
    section .sub-title {
        text-align: center;
        h3 {
            margin-right: 0;
        }
    }
    section .sub-title .dots {
        left: 0;
        right: 0;
        text-align: center;
        span {
            margin: 4px auto;
        }
    }
    section .sub-title hr {
        width: 100vw;
        margin-left: -40px;
    }
    section .subsection-list,
    section .subsection-block {
        display: none !important;
    }
    section .mobile {
        display: block;
        &.subsection {
            &>.accordion {
                width: 100%;
                text-align: center;
                &>h3 {
                    font-family: "Abolition-Round";
                    font-size: 20px;
                    color: #5B5B5B;
                    letter-spacing: 1px;
                    cursor: pointer;
                    &:focus {
                        outline: none;
                    }
                    span {
                        padding-bottom: 7px;
                        border-bottom: 2px solid transparent;
                        opacity: 0.5;
                        @include transition(all 0.3s linear);
                        &.ui-accordion-header-icon {
                            display: none;
                        }
                    }
                    &.ui-accordion-header-active span {
                        opacity: 1;
                        border-bottom: 2px solid #f37938;
                    }
                    &.ui-accordion-header-active {
                        margin-bottom: 25px;
                    }
                }
                &>div {
                    background: #E8E8E8;
                    padding-top: 12px;
                    &.ui-accordion-content-active {
                        margin-bottom: 50px;
                    }
                }
            }
            .benefits {
                &>span {
                    font-size: 18px;
                    display: block;
                    padding-bottom: 23px;
                    border-bottom: 1px solid #5b5b5b;
                    letter-spacing: 0;
                    line-height: 31px;
                    margin-bottom: 20px;
                }
                &>ul {
                    padding-left: 15px;
                    margin: 0;
                    li {
                        font-size: 14px;
                        letter-spacing: 0;
                        line-height: 26px;
                    }
                }
                font-family: "Proxima Nova";
                padding: 40px;
                position: relative;
                a.close-btn {
                    position: absolute;
                    display: block;
                    margin: 0 auto;
                    bottom: -23px;
                    left: 0;
                    right: 0;
                    height: 46px;
                    width: 46px;
                    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.26);
                    background-color: #fff;
                    border-radius: 46px;
                    background-image: url(../images/x-o.png);
                    background-size: 25px 25px;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
                p {
                    font-size: 14px;
                    color: #666666;
                    letter-spacing: 0;
                    line-height: 22px;
                }
                a.video {
                    font-size: 14px;
                    letter-spacing: 1.75px;
                    line-height: 25px;
                    display: block;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                    color: #5b5b5b;
                    margin-top: 20px;
                    span {
                        height: 46px;
                        width: 46px;
                        border: 1px solid #5B5B5B;
                        border-radius: 46px;
                        background-image: url(../images/play-icon-dk.png);
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 10px 12px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 16px;
                    }
                }
                .accordion {
                    width: 100%;
                    margin-bottom: 40px;
                    h3 {
                        height: 57px;
                        background-color: #fff;
                        border-left: 2px solid transparent;
                        position: relative;
                        margin: 0;
                        text-align: left;
                        padding: 0 70px 0 30px;
                        font-size: 14px;
                        color: #5B5B5B;
                        letter-spacing: 1.75px;
                        line-height: 57px;
                        text-transform: uppercase;
                        margin-bottom: 1px;
                        cursor: pointer;
                        &:focus {
                            outline: none;
                        }
                        &.ui-accordion-header-active {
                            margin-bottom: 2px;
                            .ui-accordion-header-icon+span {
                                background-image: url(../images/minus-sign-o.png);
                                background-size: 16px 2px;
                            }
                        }
                        .ui-accordion-header-icon {
                            display: none;
                            &+span {
                                background-image: url(../images/plus-sign-o.png);
                                width: 16px;
                                height: 16px;
                                background-size: 16px 16px;
                                display: block;
                                position: absolute;
                                right: 23px;
                                top: 21px;
                                background-repeat: no-repeat;
                                background-position: center center;
                            }
                        }
                    }
                    &>div {
                        padding: 20px 30px;
                        border-left: 1px solid #fff;
                        border-right: 1px solid #fff;
                        text-align: left;
                        ul {
                            padding-left: 15px;
                            margin: 0;
                            li {
                                font-size: 14px;
                                letter-spacing: 0;
                                line-height: 26px;
                                color: #5b5b5b;
                            }
                        }
                        p {
                            margin: 10px 0;
                            letter-spacing: 0;
                            line-height: 1.4;
                            font-size: 14px;
                        }
                    }
                }
            }
            .carousel,
            .carousel-inner {
                width: 100%;
                height: 30vh;
            }
            .carousel-inner>.item {
                height: 100%;
                width: 100%;
                @include bg-cover;
                background-position: center center;
            }
            .carousel-control {
                width: 70px;
                background: none;
                opacity: 1;
                top: 0;
                .arrow-left {
                    background-image: url(../images/gallery-arrow_left.png);
                    @include retina(13px,
                    20px);
                    display: block;
                    opacity: 1;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    bottom: unset;
                    top: 50%;
                    transform: translateY(-50%);
                    position: relative;
                }
                .arrow-right {
                    background-image: url(../images/gallery-arrow_right.png);
                    @include retina(13px,
                    20px);
                    display: block;
                    opacity: 1;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    bottom: unset;
                    top: 50%;
                    transform: translateY(-50%);
                    position: relative;
                }
            }
            .carousel-indicators {
                display: none;
            }
        }
    }
    section.packages .righty {
        .carousel,
        .carousel-inner {
            width: 100%;
            height: 30vh;
        }
        .carousel-inner>.item {
            height: 100%;
            width: 100%;
            @include bg-cover;
            background-position: center center;
        }
        .carousel-control {
            width: 70px;
            background: none;
            opacity: 1;
            top: 0;
            .arrow-left {
                background-image: url(../images/gallery-arrow_left.png);
                @include retina(13px,
                20px);
                display: block;
                opacity: 1;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: unset;
                top: 50%;
                transform: translateY(-50%);
                position: relative;
            }
            .arrow-right {
                background-image: url(../images/gallery-arrow_right.png);
                @include retina(13px,
                20px);
                display: block;
                opacity: 1;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: unset;
                top: 50%;
                transform: translateY(-50%);
                position: relative;
            }
        }
        .carousel-indicators {
            display: none;
        }
    }
    footer {
        width: 100%;
        padding: 15px 20px;
        position: relative;
    }
    footer p:last-child {
        float: left;
    }
    #porsche-suites .subsection-list {
        display: block !important;
    } 
    #porsche-suites .subsection-block {
        &.active {
            display: block !important;
        }
    }
    #porsche-suites .subsection-block .row .lefty,
    #porsche-suites .subsection-block .row .righty {
        padding: 0;
        width: 100%;
        display: block;
        float: left;
        border: none;
    }
    #porsche-suites .subsection-block .row .lefty .suite-list,
    #porsche-suites .subsection-block .row .righty .suite-list {
        padding: 0;
    }
    #porsche-suites .subsection-block .suite-list .line {
        display: none;
    }
    #porsche-suites .subsection-block .suite-list>div br {
        display: none;
    }
    #porsche-suites .subsection-block .suite-list>div {
        margin-bottom: 0;
    }
    #porsche-suites .subsection-block .row .full-width .suite-list>div,
    section.packages .package .amenities-list>div {
        width: 100%;
        display: block;
        float: none;
        margin-bottom: 0;
    }
    #porsche-suites .subsection-block .suite-list>div>span {
        max-width: 70%;
    }
    section .subsection-list a {
        display: block;
    }
}

@media (max-width: 480px) {
    #landing h1 {
        font-size: 60px;
        padding: 15px 10px 32px;
    }
    section .container {
        padding: 0 25px;
    }
    section .mobile.subsection .benefits {
        padding: 40px 25px;
    }
    section.packages select {
        font-size: 16px;
        padding: 0 40px 0 15px;
    }
    #landing p {
        padding: 0 20px;
    }
    #porsche-suites .subsection-block .suite-list>div>span,
    section.packages .package .amenities-list>div>span {
        max-width: 65%;
    }
}









/* INTERNET EXPLORER */

select::-ms-expand {
    display: none;
}

html.no-js {}

html.ie8 {
    .navbar-toggle {
        display: none;
    }
    .navbar {}
}











/* FONT DECLARATIONS */

@font-face {
    font-family: 'Abolition-Round';
    src: url('fonts/Abolition-Round.eot');
    src: url('fonts/Abolition-Round.woff') format('woff'), url('fonts/Abolition-Round.ttf') format('truetype'), url('fonts/Abolition-Round.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanova-reg-webfont-webfont.eot');
    src: url('fonts/proximanova-reg-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova-reg-webfont-webfont.svg#proximanova-reg-webfont-webfont') format('svg'), url('fonts/proximanova-reg-webfont-webfont.ttf') format('truetype'), url('fonts/proximanova-reg-webfont-webfont.woff') format('woff'), url('fonts/proximanova-reg-webfont-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/proximanovaboldwebfont.eot');
    src: url('fonts/proximanovaboldwebfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/proximanovaboldwebfont.woff') format('woff'),
    url('fonts/proximanovaboldwebfont.ttf') format('truetype'),
    url('fonts/proximanovaboldwebfont.svg#proximanovaboldwebfont') format('svg');
    font-weight: bold;
    font-style: normal;
}